.main-container{
    height:100vh;
    // width:100vw;
}
.top-div {
    height: 10%;
    width: 100%;
    border: 1px solid rgb(117, 49, 49);
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .time {
    height: 80%;
    width: 180px;
    // border: 1px solid white;
    color: rgba(255, 255, 255, 1);
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, 1);
    border-radius: 8px;
  }
  .refresh {
    height: 80%;
    width: 100px;
    // border: 1px solid white;
    background-color: rgba(0, 0, 0, 1);
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 3px;
    border: none;
  }
  .refresh-img {
    height: 20px;
    width: 20px;
    background-size: cover;
  }
  .refresh-btn {
    color: rgba(19, 181, 66, 1);
  }