<div class="large-container">
  <app-sidebar></app-sidebar>
  <div class="main-container">
    <div class="top-section">
      <div class="date-container">{{ date }} - {{ time }} {{ meridiem }}</div>
      <div class="refresh-container cursor-pointer">
        <img src="assets/refresh.svg" alt="refresh" />
        <span class="refresh-txt">Refresh</span>
      </div>
    </div>
    <div class="timesheet-container">Timesheet</div>
    <div class="table">
      <!-- <app-table [userData]="userdata"></app-table> -->
    </div>
  </div>
</div>
