.large-container{
    display: flex;
}
.main-container {
    position: relative;
    top:5%;
    width:100% !important;
    padding:20px;
    margin-top:7px;
    .top-section {
      display: flex;
      justify-content: space-between;
      // flex-wrap: wrap;
      margin-bottom:15px;
      
      // border:1px solid white;
      .date-container {
        color: var(--text-color);
        display: inline-block;
        background-color: var(--sub-bg-color);
        padding: 8px 16px;
        border-radius: 8px;
        background-color: #000;
        color: white;
      }
      .refresh-container {
        background-color: var(--sub-bg-color);
        padding: 8px 16px;
        background-color: #000;
        border-radius: 8px;
        color: var(--primary-green);
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        span {
          margin-left: 5px;
        }
      }
    }
  }
  .timesheet-container{
    color: white;
    // margin-left:210px;
    font-size:20px;
    padding-left:15px;
  }
  .refresh-txt{
    font-weight: bolder;
  }
  .top-section{
    width:100%;
    // display: flex;
  }
  .user-image{
    height: 100px;
    width:100px;
    border-radius: 50px;
  }
  .userBio{
    // height:100%;
    // border:1px solid white;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    // margin-bottom:10px;
    row-gap:5px;
  }
.upper{
  width:100%;
  // border:1px solid white;
  height:50px;
  display: flex;
  align-items: center;
  column-gap: 10px;
  background-color: #000;
  border-radius:10px;
  margin-bottom:10px;
}
.user-mngt-txt{
  font-weight: 500;
  color:white;
  font-size:16px;
  display: flex;
  align-items: center;
  margin:0;
}
.arrow{
  padding-left:10px;
  cursor: pointer;
}
.user-data{
  height:25rem;
  width:100%;
  // border:1px solid white;
  background-color: #000;
  border-radius: 10px;
  display:flex;
  flex-direction: column; 
  // justify-content:space-between;
  column-gap:20px;
  // flex-wrap: wrap;
}

.user-pic{
  height: 100%;
  width:40%;
  // border:1px solid white;
  border-radius:10px;
  background-color: #000;
}
.user-roles{
  height:100%;
  width:60%;
  // border:1px solid white;
  border-radius:10px;
  background-color: #000;
}
.pic{
  height:100%;
  width:100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}
.upper-image{
  width:25%;
  height:100px;
}
.upper-name{
  color: #fff;
  font-size:20px;
}
@media screen and (max-width:1200px)
{
  .main-container{
    position: absolute !important;
    width: calc(100vw - 100px) !important;
    overflow: auto !important;
    height:fit-content; 
  }
  .large-container{
    position: relative;
    left:100px;
    width:calc(100vw - 200px);
  }
}
.large-container{
  position: absolute;
  left:200px;
  width:calc(100vw - 200px);
  // border:1px solid white;
}
.user-image-div{
  width:100%;
  // border:1px solid rgb(194, 64, 64);
  height: 40%;
  padding:20px;
  display:flex;
}
.user-name{
  padding:20px 0 0 20px;
  font-weight: 400;
  color: white;
  font-size:16px;
}
.user-id{
  padding:20px 0 0 20px;
  font-weight: 400;
  color: #ffffff80;
  font-size:16px;
}
.details{
  width:96%;
  border:1px solid white;
  margin-left:20px;
  height:50%;
  border-radius: 14px;
  padding:15px;
  border: 1px solid rgba(255, 255, 255, .1019607843);
  background: linear-gradient(0deg, #121212, #121212), linear-gradient(0deg, rgba(255, 255, 255, .1), rgba(255, 255, 255, .1));
}
.labels{
  color:white;
  
}
.data{
  color:rgb(196, 193, 193);
}
.info{
  height:100%;
  // border:1px solid white;
  display: flex;
  // flex-direction: column;
  justify-content: space-between;
}
.name{
  // width:20%;
  display: flex;
  // border:1px solid white;
  justify-content: space-between;
}