<div class="large-container">
  <div class="main-container">
    <div class="top-section">
      <div class="date-container">{{ date }} - {{ time }} {{ meridiem }}</div>
      <div class="refresh-container cursor-pointer" (click)="refreshBtn()">
        <img src="/assets/refresh.svg" alt="refresh" />
        <span class="refresh-txt">Refresh</span>
      </div>
    </div>
    <div class="userBio">
      <div class="upper">
        <img
          class="arrow"
          src="/assets/single-left-arrow-blue.svg"
          alt="arrow"
          (click)="goBack()"
        />
        <p class="user-mngt-txt">User Management Details</p>
      </div>
      <div class="user-data">
        
        <div class="user-image-div" *ngIf="allData">
          <img
            class="user-image"
            src="{{ allData.result.profilePic }}"
            alt="user"
          />
          <div class="bio">
            <div class="user-name" *ngIf="allData">{{ allData.result.name }}</div>
            <div class="user-id" *ngIf="allData">#{{ allData.result._id }}</div>
            </div>
        </div>
        <div class="details">
          
        </div>
        <!-- <div class="user-role username" *ngIf='allData'>{{ allData.result.role.name }}</div> -->
        <!-- <div class="user-bio">{{userData.bio}}</div> -->
      </div>
    </div>
  </div>
</div>
