.main-container {
  padding:20px;
  .top-section {
    display: flex;
    width:calc(100vw - 240px);
    justify-content: space-between;
    flex-wrap: wrap;
    .date-container {
      color: var(--primary-white);
      display: inline-block;
      background-color: var(--primary-black);
      padding: 8px 16px;
      border-radius: 8px;
    }
    .refresh-container {
      background-color: var(--primary-black);
      padding: 8px 16px;
      border-radius: 8px;
      color: var(--primary-green);
      display: flex;
      justify-content: center;
      align-items: center;
      span {
        margin-left: 5px;
      }
    }
  }
}