
.main-container{
    background-color: rgba(17, 17, 17, 1);
    height:100vh;
    width:100vw;
    display: flex;
    align-items: center;
    justify-content: center;
}
.internal-container{
    height:90%;
    width:100%;
    // border:1px solid white;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.top-div{
   height: 8%;
   width:90%;
// border:1px solid white;
   display: flex;
   align-items: center;
   justify-content: space-between;
}
.user-management{
    height:10%;
    width:90%;
    // border:1px solid white;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    color: rgba(255, 255, 255, 1);
    padding-left:10px;
}
.user-table{
    height:70%;
    width:100%;
    // border:1px solid white;
}
.paggination-div{
    height:10%;
    width:100%;
    // border:1px solid white;
    display: flex;
    justify-content: center;
    align-items: center;
}
.time{
    height:100%;
    width:180px;
    // border:1px solid white;
    color: rgba(255, 255, 255, 1);
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, 1);
    border-radius:8px;
}
.refresh{
    height:100%;
    width:100px;
    // border:1px solid white;
    background-color: rgba(0, 0, 0, 1);
    border-radius:8px;
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 3px;
    border:none;
}
.user-txt{
    height:80%;
    width:40%;
    // border:1px solid white;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.refresh-img{
    height:20px;
    width:20px;
    background-size: cover;
}
.refresh-btn{
    color: rgba(19, 181, 66, 1);
}

.head{
    font-size:20px;
    color: rgba(255, 255, 255, 1);
}