// .main-container{
//     height:90px;
//     // width:100vw;
// }
.top-div {
    height: 50px;
    width: 100%;
    background-color: var(--bg-color);
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .time {
    height: 80%;
    width: 180px;
    // border: 1px solid white;
    color:  var(--text-color);
    display: flex;
    align-items: center;
    justify-content: center;
    background-color:  var(--bg-color);;
    border-radius: 8px;
  }
  .refresh {
    height: 80%;
    width: 100px;
    // border: 1px solid white;
    background-color:  var(--bg-color);;
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 3px;
    border: none;
  }
  .refresh-img {
    height: 20px;
    width: 20px;
    background-size: cover;
  }
  .refresh-btn {
    color: rgba(19, 181, 66, 1);
  }