*{
    padding:0;
    margin:0;
    box-sizing: border-box;
}
/* main.component.css */
.content {
    margin-left: 250px; /* Set the initial width of the sidebar */
    transition: margin-left 0.3s ease; /* Add transition for smooth animation */
  }
  
  .content.collapsed {
    margin-left: 50px; /* Set the margin for the collapsed state */
  }
  