<div class="sidebar-wrapper">
  <div class="image"> 
      <img class="relinns-logo" src="../assets/images/relinns logo.png" alt="relinns">
  </div>
 <div class="side-data">
  <ul>
      <a>
       <li>
         <span class="nav-text">
          <img class="side-icons" src="../assets/images/user-icon.svg" alt="user Management">
           <span class="side-text">User Management</span>
         </span>
       </li>
       </a>
     <a><li>
      
       <span class="nav-text timesheet">
        <img class="side-icons timesheet-container" src="../assets/images/customer-icon.svg" alt="timesheet">
        <span class="side-text">Timesheet</span>
       </span>
     </li></a>
     <a><li>
      
      <span class="nav-text">
       <img class="side-icons" src="../assets/images/master-icon.svg" alt="timesheet">
       <span class="side-text">Master Control</span>
      </span>
    </li></a>
     </ul>
 </div>
 <div class="theme">
  <div class="theme-name">Theme</div>
  <div class="theme-icon">
    <label class="toggle-container">
  
      <input type="checkbox" class="toggle-input" (change)="toggleTheme()">
      
      <span class="toggle-slider"></span>
    </label>
  </div>
  
 </div>

  <div class="profile" data-bs-toggle="modal" data-bs-target="#exampleModal">
      <img class="user-image" src="../assets/images/user-image.png" alt="user">
      <div class="profile-info">
        <p class="admin-name">Vishakha</p>
        <p class="admin-location">Chandigarh, India</p>
      </div>
     
  </div>
  
 </div>

 <!-- Modal -->
<div class="modal fade profile-modal" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true" >
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content profile-bg">
      <div class="modal-header p-0">
        <span>Profile</span>
        <div><button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">&times;</button></div>
      </div>
      <div class="profile-image text-center ">
        <img class="profile-picture" src=" ./assets/images/Ellipse 524.png" alt="Profile Picture">
      </div>
      <h2 class="text-center">
        KARDi Admin
      </h2>
      <h5 class="text-center">
        admin@trykardi.com
      </h5>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" style="height:48px; border-radius: 12px;">Logout</button>
      </div>
      <div class = "password">
        <a class="text-center" href="https://trykardi.com/">Change Password</a>
      </div>

      <div class = "password">
        <a class="text-center" href="https://trykardi.com/">Edit Profile</a>
      </div>
    </div>
  </div>
</div>





