<div class="dflex full-div">

    <app-sidebar></app-sidebar>

    <div class="my-container d-flex">
        <div class="item">
            <div class="errorCode">
                <h1 class="code">404</h1>
            </div>
            <div class="line">
                <h2 class="line-color">OOPS! Page Not Found</h2>
            </div>
            <div class="lines">
                <p class="error-lines">Sorry, the page you're looking for doesn't exist if you think<br>
                something is broken, report a problem</p>
            </div>
            <div class="button">
                <button type="button" class="btn btn-primary btn-style" (click)="welcome()">Return Home</button>
                <button type="button" class="btn btn-light btn-style">Report Problem</button>
            </div>
        </div>
    </div>
</div>
