* , body{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.container-fluid {
    display: flex;
}

.body{
    margin:0px;
}

.content {
    box-sizing: border-box;
    width:100%;
    height: 100vh;
    background-color: var(--bg-color);
    color:var(--text-color);
}

#navbar{
    width: 100%;
    height: 13%;
    background-color: var(--bg-color);
    color: #fff;
    box-sizing: border-box;
    display:flex;
    align-items: center;
}

.date{
    width: 20%;
    height: 55%;
    background-color: var(--sub-bg-color);
    color: #fff;
    box-sizing: border-box;
    display:flex;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
    margin:12px;
}

#users{
    width: 94%;
    background-color: var(--bg-color);
    height:26%;
    border-radius:10px;
    padding:10px;
    color:var(--text-color);
    margin:20px;
    margin-bottom:3px;
}

.other-users{
    width: 30%;
    background-color: var(--bg-color);
    height:10%;
    margin:20px;
    margin-top:5px;
    margin-bottom:7px;
    border-radius:10px;
    padding:10px;  
    color:var(--text-color);
    
}

.all-users{
    display:flex;
}

.all-users1{
    display:flex;
    margin-bottom:1px;
}

.other-users1{
    width: 30%;
    background-color: var(--bg-color);
    height:10%;
    margin:20px;
    margin-top:1px;
    border-radius:10px;
    padding:10px;  
    color:var(--text-color);
}

p{
    color:#4D4D4D;
}

.aggregate-users{
    width:98%;
    height:60%;
    background-color:var(--sub-bg-color);;
    // position:relative;
    padding:25px;
    border-radius:18px;
    margin:0px 12px;
}

.active-users{
        width:98%;
        height:22%;
        background-color:var(--sub-bg-color);
        padding:25px;
        border-radius:18px;
        margin:12px 12px;
        display:flex;
        
}

.active{
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction:column;
    width:13%;
}

.img-active{
    width: 40px;
}

p{
    color:var(--text-color);
}


