<div class="container-fluid">
   <!-- Main Content -->
   <div class="content">
      <div id="navbar">
         <div class="date">
            <p> 23/06/2023-12:23 AM </p>
         </div>
      </div>
      <div class="aggregate-users">
         <div id="users">
            <p> Total Users</p> <br />
            1,629
         </div>
         <!--Other Users-->
         <div class="all-users">
            <div class="other-users">
               <p>Today's Nora Users</p> <br />
               279
            </div>
            <div class="other-users">
               <p>Today's Adam Users </p><br />
               2,392
            </div>
            <div class="other-users">
               <p>Today's Sarah Users</p> <br />
               1,267
            </div>
         </div>
         <!--Other 3 users-->
         <div class="all-users1">
            <div class="other-users1">
               <p>Today's Nora Users </p><br />
               279
            </div>
            <div class="other-users1">
               <p>Today's Adam Users </p><br />
               2,392
            </div>
            <div class="other-users1">
               <p>Today's Sarah Users </p><br />
               1,267
            </div>
         </div>
      </div>

      <!--Active Users-->
      
   <div class="active-users">
      <div class="active" *ngFor="let user of activeUsers">
         <div class="img-active">
           <img [src]="user.imageUrl" alt="{{ user.name }}"/>
         </div>
         <div class="active-text">
           {{ user.name }}
         </div>
      </div>
   </div>
       




   </div>
</div>